html {
  scroll-behavior: smooth;
}

body {
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000000c7;
}

::-webkit-scrollbar-thumb {
  background: #0d6efd;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f4b400;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.title h1 {
  text-decoration: none;
  color: white;
  font-family: "Grand Hotel", cursive;
  margin: 10px;
}

.navbar-nav {
  margin: 10px;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: larger;
  margin: 10px;
  font-weight: bolder;
}

.navbar-nav a:hover {
  background: linear-gradient(to right, #ff5f6d 50%, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow-y: hidden;
}

.nav-list {
  margin-right: 40px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  margin-top: 200px;
  /* color: #222; */
  font-family: Roboto, Arial, sans-serif;
  height: 30vmin;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.animated-title > div {
  height: 60%;
  overflow: hidden;
  position: relative;
  /* width: 100%; */
}

.animated-title > div div {
  margin: 10px;
  font-size: 5vmin;
  /* padding: 2vmin 0; */
  position: absolute;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 1vmin solid;
  top: 0;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

/* .animated-title > div.text-top div span:first-child {
  color: #767676;
} */

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.about-paragraph p {
  font-family: "Roboto", sans-serif;
  font-size: 2.3vh;
}

.portfolio-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-image img {
  /* border: 3px solid red; */
  width: 70%;
  height: 70%;
}

.skill-wrapper {
  margin-top: 60px;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.hero-wrapper h1 {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  margin: 145px;
  font-weight: bolder;
}

.skill-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 410px;
  background-color: #0f9d58;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.skill {
  width: 160px;
  height: 160px;
  /* background: cornflowerblue; */
  position: relative;
}

/* .skill-info h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: black;
} */

.inner {
  /* border: solid red; */
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#number {
  font-size: 40px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  margin: 10px;
}

.avg-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 4px;
  font-weight: bold;
}

circle {
  /* border:3px solid red; */
  margin: 10px;
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 22px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 4s linear forwards;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(34, 33, 33, 0.7),
    -0.5px -0.5px 0px rgb(32, 32, 32), 0.5px 0.5px 0px rgb(36, 35, 35),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.ssvg {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(34, 33, 33, 0.7),
    -0.5px -0.5px 0px rgb(32, 32, 32), 0.5px 0.5px 0px rgb(36, 35, 35),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

@keyframes anim {
  100% {
    stroke-dashoffset: 90;
  }
}

.detail-skill-wrapper {
  margin-top: 60px;
  background-color: #f4b400;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 20px 0;
}

.skills-bar .bar:first-child {
  margin-top: 0px;
}

.skills-bar .bar .info span h1 {
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
  animation: showText 2.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 14px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scalex(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #0d6efd;
  position: absolute;
  border-radius: 10px;
  transform: scalex(0);
  transform-origin: left;
  animation: animate 4s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -34px;
  color: whitesmoke;
  background: #000;
  font-weight: bolder;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.python span::after {
  content: "80%";
}

.progress-line.django span::after {
  content: "80%";
}

.progress-line.angular span::after {
  content: "86%";
}

.progress-line.flask span::after {
  content: "78%";
}

.progress-line.javascript span::after {
  content: "75%";
}

.progress-line.html span::after {
  content: "98%";
}

.progress-line.postgress span::after {
  content: "70%";
}

.progress-line.adapability span::after {
  content: "98%";
}

.progress-line.linux span::after {
  content: "87%";
}

.progress-line.git span::after {
  content: "95%";
}

.progress-line.python span {
  width: 80%;
}

.progress-line.django span {
  width: 80%;
}

.progress-line.angular span {
  width: 86%;
}

.progress-line.flask span {
  width: 78%;
}

.progress-line.javascript span {
  width: 75%;
}

.progress-line.html span {
  width: 98%;
}

.progress-line.postgress span {
  width: 70%;
}

.progress-line.adapability span {
  width: 98%;
}

.progress-line.linux span {
  width: 87%;
}

.progress-line.git span {
  width: 95%;
}

.project-title {
  margin-top: 60px;
}

.project-title h1 {
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.project-title h2 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.project-title h3 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.3vh;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.img-card {
  margin: 10px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.img-card p {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

.img-card img {
  border: 1px solid rgb(63, 63, 63);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.img-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 20px;
  text-align: center;
  /* font-weight: bolder; */
  color: #0d6efd;
}

.line {
  display: block;
  border: 1px solid rgb(133, 132, 132);
  margin: 20px;
}

.line2 {
  display: block;
  border: 1px solid rgb(231, 231, 231);
}

.line3 {
  display: block;
  margin: 10px;
}

.repo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.repo a {
  text-decoration: none;
  margin: 20px;
  color: #0f9d58;
  text-align: center;
}

.repo a p {
  font-family: "Roboto", sans-serif;
  color: #0d6efd;
  font-size: x-large;
  font-weight: 900;
}

.first {
  color: #db4437;
}

.second {
  color: #db4437;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.email {
  margin: 10px;
  background-color: #0d6efd;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.linkedin {
  margin: 10px;
  background-color: #db4437;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter {
  margin: 10px;
  background-color: #f4b400;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.instagram {
  margin: 10px;
  background-color: #0f9d58;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.email a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.linkedin a h1 {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.linkedin a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.twitter a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.instagram a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.reachout {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.reachout ul li {
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  /* margin: 10px; */
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer h1 {
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: white;
}

.footer h1 a {
  text-decoration: none;
  color: #0d6efd;
}

.me {
  color: #db4437;
  font-weight: bolder;
}

.first-name {
  color: #0f9d58;
  font-weight: bolder;
}

.second-name {
  color: #0d6efd;
  font-weight: bolder;
}

.third-name {
  color: #f4b400;
  font-weight: bolder;
}

.project-name {
  color: #0d6efd;
  font-weight: bolder;
  text-decoration: underline;
}

.name-link a {
  margin-top: 10px;
  font-weight: bolder;
}

.fullstack {
  color: #db4437;
  font-weight: bolder;
}

/* theme selector here */

.dark-mode {
  background-color: #000;
  color: white;
}

.theme-selctor {
  border: none;
}

#btn-moon {
  border: none;
  background: none;
}

.moon-svg {
  color: #f0f0f0;
}

#theme {
  cursor: pointer;
  margin: 10px;
}

.new-cont {
  border: 3px solid rgb(22, 22, 22);
  background-color: rgb(22, 22, 22);
  background-image: url(images/ring-dark.svg);
}

/* preloader css  */

/* .preload{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 115.5s ease; 
}



.preload-finish{
  opacity: 0;
  pointer-events: none;
} */
